In [1]:
# Import needed libraries
import pandas as pd
import numpy as np
from plotnine import *

In [2]:
# Read in the dataset and show first few rows
md = pd.read_csv("/content/money_diaries.csv")
md.head()

,Date,Day of Week,City/Region,State,Country,Income,Individual Income,Joint,Industry,Age,...,Rents or Owns,Total Assets,Debt,Housing Costs per Month,Total Spent in Week,R29 Love Reactions,R29 Impressed Reactions,R29 Surprised Reactions,R29 Angry Reactions,R29 Number of Comments
0,01/24/2025,Friday,Pittsburgh,PA,United States,102750.0,102750,Yes,Academia,27,...,Rents,245000.00,0.0,2860.0,272.65,30,4,1,20,32
1,01/22/2025,Wednesday,Philadelphia,PA,United States,374000.0,190000,Yes,Government,51,...,Rents,2532405.00,11542.0,2625.0,1072.83,98,7,13,52,90
2,01/20/2025,Monday,New York,NY,United States,107141.0,107141,No,Technology,25,...,Rents,171392.44,0.0,2600.0,633.07,50,11,9,49,47
3,01/17/2025,Friday,New York,NY,United States,103000.0,103000,No,Media,41,...,Rents,90244.08,0.0,2250.0,1062.89,68,11,9,21,73
4,01/15/2025,Wednesday,Los Angeles,CA,United States,137000.0,67000,Yes,Environmental,27,...,Rents,23350.00,0.0,1650.0,242.14,149,9,2,1,23

In [3]:
# Convert "Date" column to datetime format
md["Date"] = pd.to_datetime(md["Date"])
md.head()

,Date,Day of Week,City/Region,State,Country,Income,Individual Income,Joint,Industry,Age,...,Rents or Owns,Total Assets,Debt,Housing Costs per Month,Total Spent in Week,R29 Love Reactions,R29 Impressed Reactions,R29 Surprised Reactions,R29 Angry Reactions,R29 Number of Comments
0,2025-01-24,Friday,Pittsburgh,PA,United States,102750.0,102750,Yes,Academia,27,...,Rents,245000.00,0.0,2860.0,272.65,30,4,1,20,32
1,2025-01-22,Wednesday,Philadelphia,PA,United States,374000.0,190000,Yes,Government,51,...,Rents,2532405.00,11542.0,2625.0,1072.83,98,7,13,52,90
2,2025-01-20,Monday,New York,NY,United States,107141.0,107141,No,Technology,25,...,Rents,171392.44,0.0,2600.0,633.07,50,11,9,49,47
3,2025-01-17,Friday,New York,NY,United States,103000.0,103000,No,Media,41,...,Rents,90244.08,0.0,2250.0,1062.89,68,11,9,21,73
4,2025-01-15,Wednesday,Los Angeles,CA,United States,137000.0,67000,Yes,Environmental,27,...,Rents,23350.00,0.0,1650.0,242.14,149,9,2,1,23

In [4]:
# Check data types of each column
md.dtypes

Date                       datetime64[ns]
Day of Week                        object
City/Region                        object
State                              object
Country                            object
Income                            float64
Individual Income                  object
Joint                              object
Industry                           object
Age                                 int64
Lives Alone                        object
Rents or Owns                      object
Total Assets                      float64
Debt                              float64
Housing Costs per Month           float64
Total Spent in Week               float64
R29 Love Reactions                  int64
R29 Impressed Reactions             int64
R29 Surprised Reactions             int64
R29 Angry Reactions                 int64
R29 Number of Comments              int64
dtype: object

In [5]:
# The "Individual Income" column is listed as an object, when it should be numeric. Let's see where the issue is

# md[md["Individual Income"].apply(lambda x: isinstance(x, object))] (This line of code revealed that all values in the column are objects)

# Now let's see all the unique values so we know which values caused the column to be rendered as strings
md["Individual Income"].unique()

array(['102750', '190000', '107141', '103000', '67000', '150000',
       '122000', '500000', '69319', '98000', '165000', '116820', '90000',
       '65238.45', '45000', '380000', '78000', '81000', '79500', '100000',
       '50000', '24000', '87500', '70000', '1600', '110000', '87000',
       '28000', '53501', '139000', '60000', '41000', '0', '80000',
       '120000', '29791.77', '275000', '130000', '215000', '56000',
       '44600', '35000', '127000', '255000', '57398', '175000', '228000',
       '30000', '85000', '135000', '126000', '140000', '114000', '95000',
       '160000', '115000', '100296', '48000', '97500', '48946', '82000',
       '116000', '108280', '36000', 'Unknown', '82300', '109000',
       '204000', '67525.05', '134000', '171000', '144200', '240000',
       '261000', '131858', '192000', '137000', '116500', '205000',
       '125000', '118000', '310000', '59200', '58000', '98300', '179000',
       '73500', '43000', '108150', '65000', '55834.01', '65692.14',
       '225000', '71000', '94000', '65380', '55473', '60060', '260000',
       '77910', '113000', '83801', '325000', '89000', '235000', '44985',
       '152000', '99000', '95500', '87950', '175500', '55498', '49000',
       '181000', '105000', '73000', '200000', '55000', '92500', '28970',
       '129000', '92000', '58240', '170000', '56160', '159000', '15000',
       '68000', '59160', '109200', '53131', '48415', '147000', '82400',
       '57258', '133000', '81098', '50580', '115600', '289000', '46194',
       '210000', '64000', '63900', '194942', '104000', '3500', '144000',
       '8000', '112750', '305300', '80100', '62000', '72000', '47840',
       '17000'], dtype=object)

In [6]:
# The "Unknown" value is what's causing the issue. Let's remove all row(s) with "Unknown in that column", then convert the column to float
import warnings
warnings.filterwarnings("ignore", category=pd.errors.SettingWithCopyWarning)

md = md[md["Individual Income"] != "Unknown"]

md["Individual Income"] = md["Individual Income"].astype(float)

### Let's see all the unique values for the categorical columns

In [7]:
# md["Day of Week"].value_counts() # Only one wasn't posted on a Monday, Wednesday, or Friday, so I think I will delete this row

md = md[md["Day of Week"] != "Tuesday"]
md["Day of Week"].value_counts() # just to double-check that it's fixed

Day of Week
Friday       71
Monday       70
Wednesday    67
Name: count, dtype: int64

In [8]:
md["City/Region"].unique() # some regions overlap (such as "Bay Area" and "San Francisco"), so this may present an issue in the model

array(['Pittsburgh', 'Philadelphia', 'New York', 'Los Angeles',
       'Detroit suburbs', 'Bay Area', 'Central Minnesota', 'Mexico City',
       'Boston', 'Toronto', 'Kansas City Metro', 'Raleigh', 'Montana',
       'Providence', 'Indianapolis', 'Tampa', 'Seoul',
       'Northern California', 'Chicago', 'Michigan', 'Hampton Roads',
       'San Diego', 'Central Florida', 'San Francisco',
       'Central Pennsylvania', 'Atlantic Canada', 'Cincinnati',
       'Latin America', 'Arkansas', 'DMV', 'Virginia',
       'Greater Cincinnati', 'Oregon', 'Fort Garland', 'Nashville',
       'NYC Suburbs', 'Orange County', 'Brooklyn', 'New Jersey',
       'Richmond', 'Kansas City', 'El Paso', 'Baltimore', 'Boise',
       'Wilmington', 'Milwaukee', 'Tri-Cities', 'Denver',
       'Washington, D.C.', "O'ahu", 'Montreal', 'Oakland', 'Queens',
       'Miami', 'Kansas City suburbs', 'Austin', 'South Carolina',
       'Dallas', 'Phoenix', 'Burtonsville', 'Grand Rapids', 'Portland',
       'Huntsville', 'Vancouver Island', 'Arlington', 'Des Moines',
       'Houston', 'Madison', 'California', 'Illinois', 'Ottawa', 'Salem',
       'Minneapolis', 'Bellingham', 'Caracas', 'Westchester', 'Seattle',
       'Arizona', 'Victoria', 'British Columbia', 'Indiana', 'Charlotte',
       'Vermont', 'Palm Springs', 'Rural Colorado', 'Chicago suburb',
       'UK University Town', 'Luxembourg', 'Atlanta', 'Vancouver',
       'Northern Virginia', 'St. Paul', 'Louisville', 'Durham',
       'Chattanooga', 'Salt Lake City', 'Cleveland', 'Ohio',
       'Albuquerque', 'Coastal Maine', 'Northern Kentucky'], dtype=object)

In [9]:
# Let's fix this
md["City/Region"] = md["City/Region"].replace({"Bay Area": "San Francisco Bay Area", "San Francisco": "San Francisco Bay Area",
                                               "Oakland": "San Francisco Bay Area", "NYC Suburbs": "New York", "Brooklyn": "New York",
                                               "Queens": "New York", "Kansas City Metro": "Kansas City", "Kansas City suburbs":
                                               "Kansas City", "Detroit suburbs": "Detroit", "Greater Cincinnati": "Cincinnati", "Chicago suburb":
                                               "Chicago", "DMV": "Washington, D.C."})

# thankfully all of the Kansas City values refer to Kansas City, KS; there are no Kansas City, MO values in the dataset, which prevents confusion in
# the model

md["City/Region"].unique() # check

array(['Pittsburgh', 'Philadelphia', 'New York', 'Los Angeles', 'Detroit',
       'San Francisco Bay Area', 'Central Minnesota', 'Mexico City',
       'Boston', 'Toronto', 'Kansas City', 'Raleigh', 'Montana',
       'Providence', 'Indianapolis', 'Tampa', 'Seoul',
       'Northern California', 'Chicago', 'Michigan', 'Hampton Roads',
       'San Diego', 'Central Florida', 'Central Pennsylvania',
       'Atlantic Canada', 'Cincinnati', 'Latin America', 'Arkansas',
       'Washington, D.C.', 'Virginia', 'Oregon', 'Fort Garland',
       'Nashville', 'Orange County', 'New Jersey', 'Richmond', 'El Paso',
       'Baltimore', 'Boise', 'Wilmington', 'Milwaukee', 'Tri-Cities',
       'Denver', "O'ahu", 'Montreal', 'Miami', 'Austin', 'South Carolina',
       'Dallas', 'Phoenix', 'Burtonsville', 'Grand Rapids', 'Portland',
       'Huntsville', 'Vancouver Island', 'Arlington', 'Des Moines',
       'Houston', 'Madison', 'California', 'Illinois', 'Ottawa', 'Salem',
       'Minneapolis', 'Bellingham', 'Caracas', 'Westchester', 'Seattle',
       'Arizona', 'Victoria', 'British Columbia', 'Indiana', 'Charlotte',
       'Vermont', 'Palm Springs', 'Rural Colorado', 'UK University Town',
       'Luxembourg', 'Atlanta', 'Vancouver', 'Northern Virginia',
       'St. Paul', 'Louisville', 'Durham', 'Chattanooga',
       'Salt Lake City', 'Cleveland', 'Ohio', 'Albuquerque',
       'Coastal Maine', 'Northern Kentucky'], dtype=object)

In [10]:
md["State"].unique()

array(['PA', 'NY', 'CA', 'MI', 'MN', nan, 'MA', 'KS', 'NC', 'MT', 'RI',
       'IN', 'FL', 'IL', 'VA', 'OH', 'AR', 'Unknown', 'OR', 'CO', 'TN',
       'NJ', 'TX', 'MD', 'ID', 'DE', 'WI', 'WA', 'Washington, D.C.', 'HI',
       'SC', 'AZ', 'AL', 'IA', 'VT', 'GA', 'KY', 'UT', 'NM', 'ME'],
      dtype=object)

In [11]:
# Let's replace all nan values in the "State" column with a different value
md["State"] = md["State"].fillna("Not U.S.")
md["State"].unique() # check

array(['PA', 'NY', 'CA', 'MI', 'MN', 'Not U.S.', 'MA', 'KS', 'NC', 'MT',
       'RI', 'IN', 'FL', 'IL', 'VA', 'OH', 'AR', 'Unknown', 'OR', 'CO',
       'TN', 'NJ', 'TX', 'MD', 'ID', 'DE', 'WI', 'WA', 'Washington, D.C.',
       'HI', 'SC', 'AZ', 'AL', 'IA', 'VT', 'GA', 'KY', 'UT', 'NM', 'ME'],
      dtype=object)

In [12]:
md["Country"].value_counts()

Country
United States     191
Canada             11
Mexico              1
South Korea         1
Unknown             1
Venezuela           1
United Kingdom      1
Luxembourg          1
Name: count, dtype: int64

In [13]:
# It's probably simpler to categorize the countries as US, Canada, or "not US or Canada"
md["Country"] = md["Country"].apply(lambda x: x if x in ["United States", "Canada"] else "Not United States or Canada")

md["Country"].value_counts() # checking to make sure it worked as intended

Country
United States                  191
Canada                          11
Not United States or Canada      6
Name: count, dtype: int64

In [14]:
# I also checked the unique values of the other string columns to ensure there were no misspelled values or other errors

# md["Joint"].unique()
# md["Lives Alone"].unique()
# md["Rents or Owns"].unique()

In [15]:
# Let's clean up the "Industry" column a bit
  # There can be a lot of confusion here, especially since one diarist might list their industry as "tech" while another might say "technology",
  # or they might list two industries at once

md["Industry"].unique()

array(['Academia', 'Government', 'Technology', 'Media', 'Environmental',
       'Education, Mental Health', 'Finance', 'Education', 'Nonprofit',
       'Media, Publishing', 'Retail', 'Accounting', 'Higher education',
       'Law', 'Software', 'Humanities studies', 'Food industry',
       'Pharma advertising', 'Healthcare',
       'Local government, library services', 'Climate tech',
       'Nonprofit, heritage', 'Health',
       'Specialty retail, customer service/security, entertainment',
       'Aviation', 'General appraising, cultural history, and crafts',
       'Manufacturing', 'Pharmaceuticals', 'Retail trade',
       'Medical, nonprofit', 'Biotech', 'Health insurance', 'Automotive',
       nan, 'Transportation and logistics', 'Tech', 'Loan servicing',
       'Transportation', 'IT', 'Consulting', 'Emergency management',
       'Advertising', 'Corporate healthcare', 'Energy', 'Real estate',
       'Marketing', 'Utilities', 'Media and entertainment',
       'Tech startup', 'Private equity', 'Entertainment',
       'Tech consulting', 'Legal', 'Commercial real estate development',
       'Marketing and design', 'Environmental consulting',
       'Healthcare, intensive care', 'Non-profit', 'Book publishing',
       'Investment management', 'TV/media', 'Healthcare tech',
       'Education and healthcare', 'Financial services',
       'Research and government contract',
       'Commercial aviation and automotive marketing',
       'Museums/libraries', 'News media', 'Telecommunications',
       'Federal government', 'Labor', 'Regulatory',
       'Marketing/entertainment', 'Fitness/events', 'Fintech',
       'Architecture', 'Fashion', 'Arts', 'Communications', 'Sales',
       'Oil and gas', 'Cybersecurity', 'Oil and gas drilling',
       'Consumer packaged goods', 'Public sector', 'Public relations',
       'Film and TV', 'Life sciences', 'Politics', 'Public service',
       'Medicine', 'News', 'Brand strategy', 'Higher education/retail',
       'International development', 'Insurance', 'Medical/Tech',
       'Construction', 'University', 'E-commerce', 'Art', 'Various'],
      dtype=object)

In [16]:
# First, let's replace the "nan" values with "Unemployed" since unemployment/no income is the reason for the nan values
md["Industry"] = md["Industry"].fillna("Unemployed")
md["Industry"].unique() # check

array(['Academia', 'Government', 'Technology', 'Media', 'Environmental',
       'Education, Mental Health', 'Finance', 'Education', 'Nonprofit',
       'Media, Publishing', 'Retail', 'Accounting', 'Higher education',
       'Law', 'Software', 'Humanities studies', 'Food industry',
       'Pharma advertising', 'Healthcare',
       'Local government, library services', 'Climate tech',
       'Nonprofit, heritage', 'Health',
       'Specialty retail, customer service/security, entertainment',
       'Aviation', 'General appraising, cultural history, and crafts',
       'Manufacturing', 'Pharmaceuticals', 'Retail trade',
       'Medical, nonprofit', 'Biotech', 'Health insurance', 'Automotive',
       'Unemployed', 'Transportation and logistics', 'Tech',
       'Loan servicing', 'Transportation', 'IT', 'Consulting',
       'Emergency management', 'Advertising', 'Corporate healthcare',
       'Energy', 'Real estate', 'Marketing', 'Utilities',
       'Media and entertainment', 'Tech startup', 'Private equity',
       'Entertainment', 'Tech consulting', 'Legal',
       'Commercial real estate development', 'Marketing and design',
       'Environmental consulting', 'Healthcare, intensive care',
       'Non-profit', 'Book publishing', 'Investment management',
       'TV/media', 'Healthcare tech', 'Education and healthcare',
       'Financial services', 'Research and government contract',
       'Commercial aviation and automotive marketing',
       'Museums/libraries', 'News media', 'Telecommunications',
       'Federal government', 'Labor', 'Regulatory',
       'Marketing/entertainment', 'Fitness/events', 'Fintech',
       'Architecture', 'Fashion', 'Arts', 'Communications', 'Sales',
       'Oil and gas', 'Cybersecurity', 'Oil and gas drilling',
       'Consumer packaged goods', 'Public sector', 'Public relations',
       'Film and TV', 'Life sciences', 'Politics', 'Public service',
       'Medicine', 'News', 'Brand strategy', 'Higher education/retail',
       'International development', 'Insurance', 'Medical/Tech',
       'Construction', 'University', 'E-commerce', 'Art', 'Various'],
      dtype=object)

In [17]:
# Now let's categorize industries to get a clearer idea of trends in R29 comments activity
md["Industry"] = md["Industry"].map({
    "Academia": "Education", "Education": "Education", "Higher education": "Education", "Humanities studies": "Education", "University": "Education",

    "Government": "Government", "Research and government contract": "Government", "Federal government": "Government", "Public sector": "Government",
    "Politics": "Government", "Public service": "Government",

    "Technology": "Tech", "Software": "Tech", "Climate tech": "Tech", "Tech": "Tech", "IT": "Tech", "Tech startup": "Tech", "Fintech": "Tech",
    "Cybersecurity": "Tech",

    "Media": "Communications", "Media, Publishing": "Communications", "Pharma advertising": "Communications", "Advertising": "Communications",
    "Marketing": "Communications", "Media and entertainment": "Communications", "Entertainment": "Communications",
    "Book publishing": "Communications", "TV/media": "Communications", "News media": "Communications", "Telecommunications": "Communications",
    "Marketing/entertainment": "Communications", "Communications": "Communications", "Public relations": "Communications",
    "Film and TV": "Communications", "News": "Communications", "Brand strategy": "Communications", "E-commerce": "Communications",

    "Environmental": "Science", "Biotech": "Science", "Emergency management": "Science", "Life sciences": "Science",

    "Education, Mental Health": "Various", "Specialty retail, customer service/security, entertainment": "Various",
    "Education and healthcare": "Various", "Fitness/events": "Various", "Higher education/retail": "Various", "Medical/Tech": "Various",
    "Various": "Various", "Commercial aviation and automotive marketing": "Various",

    "Finance": "Finance", "Accounting": "Finance", "Health insurance": "Finance", "Loan servicing": "Finance", "Private equity": "Finance",
    "Investment management": "Finance", "Financial services": "Finance", "Insurance": "Finance",

    "Nonprofit": "Nonprofit", "Nonprofit, heritage": "Nonprofit", "Medical, nonprofit": "Nonprofit", "Non-profit": "Nonprofit",

    "Retail": "Retail", "Retail trade": "Retail",

    "Law": "Law", "Legal": "Law",

    "Food industry": "Food industry",

    "Healthcare": "Healthcare", "Health": "Healthcare", "Corporate healthcare": "Healthcare", "Healthcare, intensive care": "Healthcare",
    "Healthcare tech": "Healthcare", "Medicine": "Healthcare",

    "Local government, library services": "Arts", "General appraising, cultural history, and crafts": "Arts", "Marketing and design": "Arts",
    "Museums/libraries": "Arts", "Arts": "Arts", "Art": "Arts",

    "Aviation": "Transportation", "Automotive": "Transportation", "Transportation and logistics": "Transportation",
    "Transportation": "Transportation",

    "Pharmaceuticals": "Pharmaceuticals",

    "Unemployed": "Unemployed",

    "Consulting": "Consulting", "Tech consulting": "Consulting", "Environmental consulting": "Consulting",

    "Real estate": "Real estate", "Commercial real estate development": "Real estate",

    "Oil and gas": "Oil and gas", "Oil and gas drilling": "Oil and gas",

    "Consumer packaged goods": "Consumer packaged goods",

    "Manufacturing": "Other", "Energy": "Other", "Utilities": "Other", "Labor": "Other", "Regulatory": "Other", "Architecture": "Other",
    "Fashion": "Other", "Sales": "Other", "International development": "Other", "Construction": "Other"
})

md["Industry"].unique() # check

array(['Education', 'Government', 'Tech', 'Communications', 'Science',
       'Various', 'Finance', 'Nonprofit', 'Retail', 'Law',
       'Food industry', 'Healthcare', 'Arts', 'Transportation', 'Other',
       'Pharmaceuticals', 'Unemployed', 'Consulting', 'Real estate',
       'Oil and gas', 'Consumer packaged goods'], dtype=object)

In [18]:
# Let's create a net worth column too
md["Net Worth"] = md["Total Assets"] - md["Debt"]

md[["Net Worth", "Total Assets", "Debt"]].head()

    Net Worth  Total Assets     Debt
0   245000.00     245000.00      0.0
1  2520863.00    2532405.00  11542.0
2   171392.44     171392.44      0.0
3    90244.08      90244.08      0.0
4    23350.00      23350.00      0.0

In [19]:
# Now that the dataset is cleaned, let's save it as a new csv that will be used for Tableau visualizations
md.to_csv("money_diaries_clean.csv", index=False)

Engagement (measured in the number of comments on each diary) has been on an overall decline since September 2023. The months with the lowest average engagement in any year are May, July, and August. Day of week doesn't significantly impact engagement, though it does decline a bit throughout the average week (Monday diaries get an average of 74 comments while Friday diaries get an average of 64 comments).

Let's use predictive modeling in scikit-learn to see which factors drive engagement the most, to see which diaries Refinery29 may want to prioritize when deciding which of their submissions to publish